//mixins are in general, in production remove it
.Footer
  margin-top 6rem
  padding: 4rem 2rem
  background-color: white
  font-size 1.2rem
  color generalFont

  .box-social
    @extend .center
    font-size 1.2rem
    .social
      margin-right 1rem
    .comment.social
      font-weight 300
      border 1px solid greyDarkLess
      position relative
      top 4px
      padding 0.4rem 1.2rem
      .link.icon
        border 0
        position relative
        margin-right 0.9rem
        color greyDarkLess
