.form
  border 0
.ui.mini.modal>.header:not(.ui).header-form//override header form modal
  font-size 2rem !important
.centerButtons
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem
.ui.button.twitterButtons
  margin-bottom: 1rem

.ui.form.formWidth
  width: 25rem;
  @extend .centerButtons
  align-items: normal;
  margin: auto;
div.basic.doubleButtons
  justify-content space-between
  margin-top: 0
  padding-top: 0
