div.ui.segment.gallery
  padding: 0;
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
  display: block;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #adadad;
  border-radius: 0;
  border: 0 solid #525252;
  font-weight: 300;
  letter-spacing: 0.8px;

div.ui.segment.gallery:hover
  box-shadow: 0 22px 43px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 22px 43px rgba(0,0,0,0.15);
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);

.ui.grid>.gallery-col.column:not(.row)
  padding: 1.8rem;


a.gallery-ribbon.label
  left: calc(100% + 1rem + .42em) !important;

  /*big*/
  /*transform: translateX(-91%);*/
  font-weight: 300;
  font-size: 19px;
  margin-top: 1rem;

.gallery-image-container
  display: flex;
  justify-content: center;
  align-items: center;

.gallery-image
  cursor: pointer;

.gallery-col .ui.divider
  /*margin-left: 1rem;*/
  /*margin-right: 1rem;*/
  opacity: 0.4;

.gallery-col .product-gallery-details
  margin: 1.3rem;
  margin-top: 2rem;

.gallery-col .footer
  margin: 1.3rem;

.gallery-col .footer i
  font-size: 1.3rem;

.gallery-col .footer>div.column:first-child
  padding-left: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

.gallery-col .footer>div.column:last-child
  padding-right: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;

div.gallery-col .footer>div .number-like
  line-height: 1.5;
  font-size: 1.2rem !important;

div.gallery-col .footer>div .plus
  line-height: 1.2;
  font-size: 1.4rem !important;

div.gallery-col .footer>div .plus:hover
  color: #525252;

.gallery-col .footer>div .trending
  line-height: 1.5;

div.gallery-col .footer .heart:hover
  color: #C53B3B;

.text-underline
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
  cursor: pointer;

