
/*general*/
.columnColor
  background-color: #eee;
  width: 50%;
  min-height: 50%;
  margin: 1em;

.orange
  background-color: orange;

.red
  background-color: red;

.gris
  background-color: #eee;

.tac
  text-align: center
.tal
  text-align: left
.tar
  text-align: right
.mr1
  margin-right: 1rem
.ml1
  margin-left: 1rem
.mb1
  margin-bottom: 1rem
.mt1
  margin-top: 1rem
.bgc-n
  background-color: green

body
  a
    color: #adadad;

body
  a:hover
    color: #525252;

.fz-normal
  font-size: 1rem !important;

.font-europa-normal
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 400;

.border
  border: 1px solid #525252;

@media only screen and (min-width: 1200px)
  div.ui.container
    width: 1240px;


/*End general*/
