.InputCreate
  @extend .center
  input[type='text'],.ui.button
    border-radius 0
    font-size: 0.7em;
    font-weight: 300;
  input[type='text']
    width: 381px;
  .ui.button
    padding: 2rem 3.5rem
  .icon-close
    margin-left: 3rem;
    cursor: pointer
    color grey
  .ui.input>input:focus
    border-color: rgba(242, 98, 2, 0.29);//orange with opacity;
