//https://medium.com/@derekbtw/how-to-add-stylus-to-your-react-app-with-auto-refresh-99032515523b
@import 'general.styl'
@import 'menu.styl'
@import 'home.styl'
@import 'gallery.styl'
@import 'forms.styl'
