//https://medium.com/@derekbtw/how-to-add-stylus-to-your-react-app-with-auto-refresh-99032515523b
@import 'general.styl'
@import 'menu.styl'
@import 'home.styl'
@import 'galleryShop.styl'
@import 'menuShop.styl'
@import 'galleryGeneric.styl'
@import 'forms.styl'
@import 'profil.styl'
@import 'footer.styl'

