.ModalCollections
  span
    font-weight: 300;
    margin: 1rem 0 2rem 0;
  .headerContent
    @extend .center-columns
    img
      width: 234px;
  >.header
    font-size: 2.6em;
    font-weight: 300;
  .modal-content.content
    padding: 0

  //create library
  .box-ui-library-new
    @extend .center
    margin: 3rem;
    span
      margin: 0
  .ui.text-create-library
    @extend .center
    background-color rgba(189, 189, 189, 0.55)
    cursor: pointer
    font-size 2rem
    transition: opacity 0.8s ease-in-out;
    height: 48px;
    padding: 48px 0;
    margin: 2.2rem 0;
