.ui.top.center.popup:before
  background greyLight
  bottom: -.40714286em;
.ui.popup.PopupModalGallery
  border 0
  border-radius 0
  padding: 12px;
  padding-bottom: 9px;
  margin: 0;
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
  transition all .3s ease-in-out
  .box-image
    @extend .center
    width: 100%;
    background-color: greyLight

    //greyLight=#e0e1e2
    //greyDarkLess=#adadad
    //greyDarkest=#757575
    //greyDark=#616161
  .image-square
    padding: 1.4rem
    position: relative;
    z-index: 99;
    transition background-color .3s ease-in-out
    >img
      width: 80px
      position: relative
      z-index 20
      cursor: pointer
    &:hover
      background-color greyDarkLess
  .center.aligned.column
    padding: 0
    width: 100%;
  .box-perso
    @extend .center
    margin-bottom: 1rem;
    margin-top: 1rem;
  .follow.button
    position: absolute;
    top: 21px;
    right: 1rem;
    border-radius: 30px;
    top: 2.6rem;
    right: 1.4rem;
  .box-name
    .header
      margin-bottom: 0
      color grey
    .link
      margin-bottom: 1rem
      display: inline-block;
      font-size: 1.2rem;
