.center-columns
  display: flex
  justify-content center
  align-items center
  flex-direction column
.Profil .segment.jumbotron
  margin-top: 2rem;
  .titleBox
    padding: 1rem
    @extend .center-columns
    .ui.header
      font-family: Europa
      font-weight 300
      font-size 3rem
      margin-bottom: 2rem
    .ui.compact.menu
      font-size 1.1rem
      margin-bottom: 2rem
  .editProfil
    margin-bottom: 2rem
    font-size 2rem
  .ui.floating.label
    z-index 10
  .profilRibbon
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    span
      font-size: 1.2rem;
      font-weight: 300;
      margin-left: 1rem;
