.Profil .segment.jumbotron
  margin-top: 2rem;
  .titleBox
    padding: 1rem
    @extend .center-columns
    .ui.header
      font-family: Europa
      font-weight 300
      font-size 3rem
      margin-bottom: 2rem
    .ui.compact.menu
      font-size 1.1rem
      margin-bottom: 2rem
  .editProfil
    margin-bottom: 2rem
    font-size 2rem
  .ui.floating.label
    z-index 10
