.shopBoxGallery
  padding 2rem 0
  background-color greyLight
  @extend .center-columns
  .container
    display flex
    flex-direction row
    justify-content flex-end
  .ModuleFilter
    margin-bottom 3.3rem
    .buttonfirst-child
      border-top-left-radius 30px
      border-bottom-left-radius 30px
    .buttonlast-child
      border-top-right-radius 30px
      border-bottom-right-radius 30px
    .ui.button,.or
      font-size 1.1rem
      font-weight 300
      letter-spacing 0.9px
