//Semantic UI React
//red orange yellow olive green teal blue violet purple pink brown grey black
orange=#f26202
red=#db2828
yellow=#fbbd08
olive=#b5cc18
green =#21ba45
teal =#00b5ad
blue =#2185d0
violet =#6435c9
purple =#a333c8
pink =#e03997
brown =#a5673f
grey =#767676
black=#000000f2

generalFont=#4e4e4e

//background
greyLightest=#F5F5F5
greyLight=#e0e1e2
greyDarkLess=#adadad
greyDarkest=#757575
greyDark=#616161
