.center,
.Footer .box,
.Footer .menuFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.center-columns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Footer {
  margin-top: 3rem;
}
.Footer .ui.padded.segment.vertical.segment.bloc {
  min-height: 20vh;
}
@media screen and (max-width: 768px) {
  .Footer .box {
    flex-direction: column;
  }
}
.Footer .box div:first-child {
  width: 50%;
  background-color: #f00;
}
.Footer .box div:last-child {
  width: 50%;
  background-color: #ffa500;
}
@media screen and (max-width: 768px) {
  .Footer .box div:first-child,
  .Footer .box div:last-child {
    width: 100%;
  }
}
